body{
    background-image: url("../images/background.jpg")
}
.btn-primary{
    margin-top: 50px;
    background-color: #B7ABAB;
    border-color: black;
    color: black;
}
.btn-primary:hover{
    background-color: #B7ABAB;
    border-color: black;
}
.jumbotron{
    background-color: #B7ABAB;
    text-align: center;
    font-family: 'Slabo 13px', serif;
}
.answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 8px;
    text-align: left;
}
.gif{
    width: 200px;
    height: 200px;
}


